@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 class="display-4">We are the best!</h4>
    <p>Learn more about <a href="https://tanzu.vmware.com/tanzu">VMware Tanzu</a>.</p>
</div>
<div 
  <img src="test.png" alt="" />
</div>
